version: 3.1.2.{build}
os: Visual Studio 2022
configuration: Release
environment:
  clone_folder: c:\gs
  GITHUB_REPO_TOKEN:
    secure: Jmpeow5aAcDhUHkwac/AC6MzQciGc9TLgrp5oz4U0gyAwCWGqqxJhmjz3AVrWp/V	
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
  
install:
- cmd: ./install-gtksharp.ps1
- cmd: dotnet tool install --global Cake.Tool
  
before_build:
- cmd: dotnet --version
- cmd: setJavaVersionForSonar.cmd

build_script:
# Cake.
- cmd: dotnet cake

after_build:
# Build the GeneticSharp and GeneticSharp.Extensions NuGet packages.
- cmd: buildLibrariesNuget.cmd

# Build the GeneticSharp.Templates NuGet package.
- cmd: buildTemplatesNuget.cmd

# Tests are executed by Cake.
test: off

artifacts:
  - path: .\src\nuget\*.nupkg
    name: Libraries NuGet packages

  - path: .\src\Templates\*.nupkg
    name: Templates NuGet package