<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DictServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.aonaware.com/DictService/DictService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DictServiceSoap"
                contract="DictService.DictServiceSoap" name="DictServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>