<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.6.0" targetFramework="net4" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net4" />
  <package id="NUnit" version="2.6.2" targetFramework="net4" />
  <package id="OpenCover" version="4.6.166" targetFramework="net4" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net4" />
  <package id="TestSharp" version="1.0.3" targetFramework="net4" />
</packages>