@page "/"

<a href="https://github.com/giacomelli/GeneticSharp">https://github.com/giacomelli/GeneticSharp</a>
<p>
    <a href="https://ci.appveyor.com/project/giacomelli/geneticsharp" rel="nofollow">
        <img src="https://ci.appveyor.com/api/projects/status/h9ptxpyj30ah3mva/branch/master?svg=true" style="max-width:100%;">
    </a>
    <a href="https://sonarcloud.io/dashboard?id=GeneticSharp" rel="nofollow">
        <img src="https://sonarcloud.io/api/project_badges/measure?project=GeneticSharp&amp;metric=alert_status" style="max-width:100%;">
    </a>
    <a href="https://sonarcloud.io/dashboard?id=GeneticSharp" rel="nofollow">
        <img src="https://sonarcloud.io/api/project_badges/measure?project=GeneticSharp&amp;metric=coverage" style="max-width:100%;">
    </a>
    <a href="https://raw.githubusercontent.com/giacomelli/GeneticSharp/master/LICENSE" rel="nofollow">
        <img src="http://img.shields.io/:license-MIT-blue.svg" style="max-width:100%;">
    </a>
    <a href="https://www.nuget.org/packages/GeneticSharp/" rel="nofollow">
        <img src="https://img.shields.io/nuget/v/GeneticSharp.svg" style="max-width:100%;">
    </a>
    <a href="http://stackoverflow.com/questions/tagged/GeneticSharp" rel="nofollow">
        <img src="https://img.shields.io/badge/stackoverflow-GeneticSharp-orange.svg" style="max-width:100%;">
    </a>
</p>

<p>GeneticSharp is a fast, extensible, cross-platform and multithreading C# Genetic Algorithm library that simplifies the development of applications using Genetic Algorithms (GAs).</p>
<p>Can be used in any kind of .NET Core and .NET Framework apps, like ASP .NET MVC, ASP .NET Core, Blazor, Web Forms, UWP, Windows Forms, GTK#, Xamarin, Blazor and Unity3D games.</p>